.card-block {
  color: black;
  text-shadow: none;
}

.card {
  color: black;
}

table {
  margin: 0 auto;
}

.vert-align {
  display: flex;
  align-items: center;
}

.image-section {
  max-width: 250px;
}
