<div class="container text-left">
  <p class="pt-3 mt-5"></p>
  <div class="row">
    <div class="col-12 py-2">
      <!-- <div class="col-12 p-2">
        <div class="card px-0">
          <div class="card-block bg-faded">
            <h4 class="card-title">What does this service offer?</h4>
            <p class="card-text">The era we currently live in is one of cryptocurrencies, big data and machine learning. 
              These are forces that are busy changing the way we interact with the world around us. From 
              digital voice assistants (Alexa, Siri, Google Assistant, Cortana, etc) to financial 
              robo-advisors (<a href="https://www.bloomberg.com/news/articles/2017-07-10/secret-millions-for-0x00a651d43b6e209f5ada45a35f92efc0de3a5184">see this Bloomberg article</a>).
            </p>
          </div>
        </div>
      </div> -->
      <div class="col-12 p-2">
        <div class="card px-0">
          <div class="card-block bg-faded">
            <h3 class="text-center">This Platform</h3>
            <p class="card-text">... allows you to take advantage of the combination of a trading bot applied 
              to crypto charts. This process has been refined into a cryptocurrency offering that had its 
              <a href="https://bitcointalk.org/index.php?topic=1681719.0">initial coin offering</a> 
              (ICO) successfully complete at the end of last year. The crypto offering 
              is known as BitConnect (BCC) and its main purpose is to allow participants to profit by various 
              means, more so than with other cryptocurrencies (by mining, holding, staking, lending and trading) 
              from the digital currency.
            </p>
            <p class="card-text">Since their launch in November 2016, the BitConnect coin has surged up to the top 20 cryptocurrencies 
              with a market cap of over half a billion dollars (<a href="https://coinmarketcap.com/">see Coin Market Cap</a>, 
              <a href="https://coin.dance/stats">see Coin Dance</a>). Astute cryptocurrency followers will 
              remember that in the build-up to the bitcoin cash launch near the start of August 2017, it 
              was referred to as BCC. After the launch the ticker of bitcoin cash was changed to BCH - the 
              official existence of BitConnect was the reason for this.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 px-4">
          <div class="card">
            <div class="card-block" style="background-color: rgba(0,0,0,0.15);">
              <h4 class="text-center">News Aritcles</h4>
              <div class="row">
                <div class=" col-md-3"><a href="http://www.nasdaq.com/article/meet-the-trader-whos-been-using-ai-on-wall-street-since-the-80s-cm834516">
                  #Nasdaq: AI in finance</a></div>
                <div class=" col-md-4"><a href="http://www.businessinsider.com/jpmorgan-takes-ai-use-to-the-next-level-2017-8">
                  #Business Insider: Investment banks and AI</a></div>
                <div class=" col-md-5"><a href="http://www.businessinsider.com/bitcoin-price-surge-leads-to-growth-in-hedge-funds-2017-8">
                  #Business Insider: Companies trading cryptocurrencies</a></div>
              </div>
              <!-- <p><strong>Use of artificial intelligence in finance: </strong>
                <a href="http://www.nasdaq.com/article/meet-the-trader-whos-been-using-ai-on-wall-street-since-the-80s-cm834516">
                  Nasdaq article</a></p>
              <p><strong>Top investment bank using AI</strong>
                <a href="http://www.businessinsider.com/jpmorgan-takes-ai-use-to-the-next-level-2017-8">
                  Business insider article</a></p>
              <p><strong>Financial institutions taking advantage of cryptocurrencies: </strong>
                <a href="http://www.businessinsider.com/bitcoin-price-surge-leads-to-growth-in-hedge-funds-2017-8">
                  Business insider article</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-2">
        <div class="card px-0">
          <div class="card-block bg-faded">
            <h3 class="card-title text-center">What is BitConnect?</h3>
            <p class="card-text">BitConnect is an open source, all in one bitcoin and crypto community platform designed to 
              provide multiple investment opportunities.
            </p>
            <video src="../../assets/vid/What is BitConnect.mp4" class="col-md" controls></video>
            
          </div>
        </div>
      </div>
      <!-- <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h4>BCC Coin Specifications:</h4>
            <p><strong>Maximum coin supply:</strong> 28 million</p>
            <p><strong>Current available supply:</strong> 6 million</p>
            <p><strong>Fresh New supply:</strong> Adding 23 million more via BCC mining (2.6 million) and BCC minting 
              (20.4 million) over the time and its purely dependent on public demand.</p>
          </div>
        </div>
      </div> -->
      <!-- <br>
      <h4>What is the Bitconnect lending vehicle?</h4>
      <p>BitConnect offers many ways to earn, but lending is easiest to start with and offers the highest return. 
        Their lending platform allows you to hold BCC while also lending it to their trading bot. 
        This uses a combination of proof of stake mining and algorithmic trading to deliver profits 
        that add to your account daily. You can invest BitConnect coin via the Bitconnect lending platform. 
        This investment option involves profiting from the BitConnect trading bot and volatility software. 
        You will receive daily profit based on your investment option. Upon investment term completion, 
        you will receive your <strong>CAPITAL BACK</strong> to take out from the Bitconnect lending platform or 
        optionally reinvest back in lending platform to continue receiving daily profit</p> -->
      <div class="container my-5">
        <!-- <h4 class="pt-2 text-center">Find out more below</h4> -->
        <div class="row justify-content-between">
          <button class="btn btn-success">Learn more about BitConnect</button><button [routerLink]='["/investing"]' class="btn btn-success">Two rules for investing...</button>
        </div>
      </div>
      <hr class="pt-3">
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>