<div class="row">
  <div class="col-12 py-2">
    <h1>Your Profile</h1>
    <p></p>
    <div class="col-12 p-2">
      <div class="card px-0">
        <!-- <div class="card-header bg-inverse text-white">
          Featured
        </div> -->
        <div class="card-block bg-faded">
          <h2 class="card-title">Profile details</h2>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <table class="text-left">
                <tr><td class="px-2"><strong>First name:</strong></td>      <td class="px-2">{{firstName}}</td></tr>
                <tr><td class="px-2"><strong>Last name:</strong></td>       <td class="px-2">{{lastName}}</td></tr>
                <tr><td class="px-2"><strong>User name:</strong></td>       <td class="px-2">{{userName}}</td></tr>
                <tr><td class="px-2"><strong>E-mail address:</strong></td>  <td class="px-2">{{eMail}}</td></tr>
                <tr><td class="px-2"><strong>Phone number:</strong></td>    <td class="px-2">{{phoneN}}</td></tr>
              </table>
              <!-- <div class="card-text text-left">
                <p>You now have a brand new BitConnect account.</p>
                <p>BitConnect will soon send you an e-mail asking you to activate your account. 
                  When you do, come back to this page and click the "I have activated my BitConnect account" button.</p>
              </div> -->
            </div>
          </div>
          <!-- <button class="btn btn-lg btn-outline-primary">I have activated my BitConnect account</button> -->
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-12 p-2">
      <div class="card px-0">
        <!-- <div class="card-header bg-inverse text-white">
          Featured
        </div> -->
        <div class="card-block bg-faded">
          <h2 class="card-title">Lorem ipsum dolor sit amet.</h2>
          <p class="card-text">Lorem ipsum dolor sit amet.</p>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis a magnam exercitationem, cupiditate ex excepturi beatae ut dolorem sint, porro omnis natus aliquam, unde nam nostrum. Non soluta sed ea?</p>
          <button class="btn btn-lg btn-outline-primary">Lorem ipsum dolor.</button>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>