/* Dashboard styles */
#dash-wrapper {
  width: 100%;
}

/* Sidebar */
#sidebar {
  z-index: 1;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #333333;
  opacity: 0.7;
  transition: 300ms linear;
}

#dash-content-wrapper {
  transition: 300ms linear;
}

#sidebar-nav {
  padding-left: 0;
}

/* Change width of sidebar to display */
#dash-wrapper.menuDisplayed #sidebar {
  width: 200px;
}

#menu-btn {
  position: fixed;
  top: 2.2em;
  left: 0.4em;
  z-index: 10;
}

#menu-close {
  cursor: pointer;
}

#sidebar-nav ul {
  padding: 0;
}

#sidebar-nav li {
  line-height: 4em;
  list-style: none;
}

#sidebar-nav li a {
  padding-left: 1em;
  display: block;
  text-decoration: none;
  color: #ddd;
}

#sidebar-nav li a:hover {
  background: #16a085;
}

#dash-content-wrapper .card-block {
  color: black;
  text-shadow: none;
}

.card-block {
  color: black;
  text-shadow: none;
}
